@import "partials/_settings.scss";
@import "partials/_colors.scss";

.museum-width-outer {

  padding: 0 $spacing 0 $spacing;

  .museum-width {
    width: 65%;
  }

}

#museum {

  width: 100%;
  margin-bottom: $spacing;

  .exhibition, .side {
    float: left;
    opacity: 0;
  }

  .side {
    width: 35%;
    padding-left: $spacing;
    .side-inner {
      position: relative;
      * {
        color: black;
      }
      h1, h2 {
        text-align: left;
      }
    }
  }

  .exhibition {
    width: 65%;
    overflow: hidden;
    opacity: 0;
    background-color: black;

    .overlay, .walls {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .overlay {
      background-image: url("../static/radial.png");
      background-size: 100% 100%;
      > div {
        position: absolute;
        padding: ($spacing / 2);
        opacity: 0.5;
        font-size: 80%;
        &, a {
          color: white;
        }
        &.top {
          top: 0;
        }
        &.bottom {
          bottom: 0;
        }
      }
    }

    > .walls {
      transform-style: preserve-3d;
      transform-origin: center center;
      .wall {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(195, 195, 195);
        &.exhibit, &.exhibits {
          .exhibit {
            box-sizing: border-box;
            padding: $spacing;
            height: 100%;
            > * {
              display: block;
              margin: 0 auto 0 auto;
              width: 100%;
              box-shadow: 0 5px 5px rgb(48, 48, 48);
              border: 6px solid #5C3317;
              border-radius: 4px;
              overflow: hidden;
            }
            .blank {
              height: 100%;
            }
            .picture {
              img {
                display: block;
                width: 100%;
              }
            }
            .text {
              height: 100%;
              padding: $spacing;
              background-color: white;
              p {
                font-family: "Arial", "Helvetica", sans-serif;
                font-size: $font-body-size * 1.5;
                font-weight: bold;
                text-align: left;
                letter-spacing: -1px;
              }
            }
            &.hang-high {
              padding-top: 15%;
              padding-bottom: 15%;
            }
            &.hang-mid {
              padding-top: 25%;
              padding-bottom: 25%;
            }
          }
        }
        &.exhibits {
          .exhibit {
            float: left;
            width: 50%;
          }
        }
        &.exhibit {
          .exhibit {
            .picture {
              width: 55%;
            }
          }
        }
      }

      .wall.left, .wall.right, .wall.back {
        background-image: url("../static/wall.jpg");
        background-size: 55% (55% * (683 / 512));
      }
      .wall.back {
      }
      .wall.top {
        background-image: url("../static/ceiling.jpg");
        background-size: 15% 15%;
      }
      .wall.bottom {
        background-image: url("../static/floor.jpg");
        background-size: 100% 100%;
      }

    }
  }

}

/* Responsive Bodge */

@media only screen and (max-width: ($r-width-2 / 1.25)) {
  .museum-width-outer {
    .museum-width {
      width: 100%;
    }
  }
  #museum {
    > .exhibition {
      width: 100%;
    }
    > .side {
      width: 100%;
      padding: $spacing;
    }
  }
}