@import "partials/_settings.scss";
@import "partials/_colors.scss";

.museum {

  width: 100%;
  margin-bottom: $spacing;

  .room, .side {
    float: left;
    opacity: 0;
  }

  .room {

    width: 65%;
    overflow: hidden;
    background-color: black;

    .overlay, .walls {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .overlay {
      background-image: url("../static/radial.png");
      background-size: 100% 100%;
      > div {
        position: absolute;
        padding: ($spacing / 2);
        opacity: 0.5;
        font-size: 80%;
        &, a {
          color: white;
        }
        &.top {
          top: 0;
        }
        &.bottom {
          bottom: 0;
        }
      }
    }

    > .walls {
      transform-style: preserve-3d;
      transform-origin: center center;
      .wall {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(195, 195, 195);
        &.piece, &.pieces {
          .piece {
            box-sizing: border-box;
            padding: $spacing;
            height: 100%;
            > * {
              display: block;
              margin: 0 auto 0 auto;
              width: 100%;
              box-shadow: 0 5px 5px rgb(48, 48, 48);
              border: 6px solid #5C3317;
              border-radius: 4px;
              overflow: hidden;
            }
            .blank {
              height: 100%;
            }
            &.hang-high {
              padding-top: 15%;
              padding-bottom: 15%;
            }
            &.hang-mid {
              padding-top: 25%;
              padding-bottom: 25%;
            }
          }
        }
        &.pieces {
          .piece {
            float: left;
            width: 50%;
          }
        }
        &.piece {
          .piece {
            img {
              width: 80%;
            }
          }
        }
      }

      .wall.left, .wall.right, .wall.back {
        background-image: url("../static/wall.jpg");
        background-size: 55% (55% * (683 / 512));
      }
      .wall.back {
      }
      .wall.top {
        background-image: url("../static/ceiling.jpg");
        background-size: 15% 15%;
      }
      .wall.bottom {
        background-image: url("../static/floor.jpg");
        background-size: 100% 100%;
      }

    }
  }

  .side {
    width: 35%;
    padding-left: $spacing;
    .side-inner {
      height: 320px;
      /* background-color: blue; */
    }
  }

}