base(href="http://motf.me/")
link(rel="stylesheet", href="css/master.scss.css")
link(rel="stylesheet", href="css/museum.scss.css")
title #{title}
meta(charset="UTF-8")
meta(name="robots", content="INDEX, FOLLOW")
meta(name="viewport", content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(rel="icon", type="image/png", href="static/favicon.png")