doctype html
html
  head
    link(rel='stylesheet', href='css/master.scss.css')
    link(rel='stylesheet', href='css/museum.scss.css')
    title Museum of the Future
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    .wrapper.header-wrapper
      header.clear-fix
        div
          a(href="")
            img(src="static/logo.svg" alt="Museum of the Future")
        ul
          li
            a(href="") What
          li
            a(href="") Why
          li
            a(href="") Who
          li
            a(href="") Try Now
          li
            a(href="") Talk to Us
    main(ng-controller="mainController")
      .wrapper.section-wrapper.bg-green
        section.clear-fix
          div.icon-left
            h1 The Museum of the Future
            p.
              We love museums. We think it's really important that the knowledge of humanity is preserved and accessible forever! But museums have to be exciting and interesting as well.
            p.
              Imagine a museum about everything you actually care about and love (and more) &mdash; a unique insight into your own world, built just for you.
            p.
              Welcome to a museum where the exhibits belong to you.
            p.
              Welcome to the Museum of the Future.
          div.icon-right
            span.fa.fa-star-o
      .wrapper.section-wrapper.bg-blue
        section.clear-fix
          div.icon-left
            h1 It&rsquo;s all about You
            p.
              Museums are full of fascinating things, but in a world where whatever you want to know is just a click away, something has to change to make the museum relevant and as eye-opening as it used to be.
            p.
              The Museum of the Future works out your interests from your Twitter or Facebook posts (or you can choose what tickles your fancy yourself). They're then brought to life in a vibrant 3D experience with exhibits from all over the Web.
          div.icon-right
            span.fa.fa-thumbs-o-up
      .wrapper.section-wrapper.bg-white
        section.clear-fix
          div#demo-container
            .museum#demo
              .room
                .walls
                  .wall.left.pieces
                    .piece.hang-high
                      .blank.bg-red
                    .piece.hang-high
                      .blank.bg-green
                  .wall.right.pieces
                    .piece.hang-high
                      .blank.bg-blue
                    .piece.hang-high
                      .blank.bg-yellow
                  .wall.top
                  .wall.bottom
                  .wall.back.piece
                    .piece.hang-high
                      .blank.bg-orange
                .overlay
                  div.bottom
                    p
                      |Museum of the Future, &copy;
                      a(href="http://jada.io") James Garner
                      |  2014
    .wrapper.footer-wrapper
      footer.clear-fix
        div.logo
          p
            span.fa.fa-university
        div
          ul
            li
              a(href="") What
            li
              a(href="") Why
            li
              a(href="") Who
            li
              a(href="") Try Now
            li
              a(href="") Talk to Us
        div
          ul
            li
              a(href="") Other Link 1
            li
              a(href="") Other Link 2
            li
              a(href="") Other Link 3
    script(src='js/jquery.min.js')
    script(src='js/async.js')
    script(src='js/museum.js')
    script(src='js/master.js')