doctype html
html
  head
    link(rel='stylesheet', href='css/fyp.scss.css')
    title Museum of the Future
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    .wrapper.header-wrapper
      header.clear-fix
        div
          a(href="")
            span.fa.fa-university
            span  Museum of the Future
        ul
          li
            a(href="") What
          li
            a(href="") Why
          li
            a(href="") Who
          li
            a(href="") Try Now
          li
            a(href="") Talk to Us
    main(ng-controller="mainController")
      .wrapper.section-wrapper.bg-green.clear-fix
        section
          h1 Hello, World
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In maximus, libero efficitur feugiat lobortis, orci nibh viverra purus, ut vehicula lorem quam eget lectus. Curabitur leo nisi, ultricies feugiat eleifend eu, convallis in magna. Donec tincidunt nulla enim. Proin tincidunt magna vitae pretium sagittis.
          p.
            Aliquam in facilisis risus. Morbi lectus nibh, placerat ut dolor a, mattis semper dolor. Integer quis interdum lacus. Aliquam quam augue, auctor id nunc cursus, bibendum ultricies leo. Integer auctor leo nec iaculis pellentesque.
      .wrapper.section-wrapper.bg-blue.clear-fix
        section
          h1 Hello, World
          p.
            Quisque pharetra libero sem, id dignissim mauris consectetur sed. Etiam non diam vitae lectus consectetur mollis. Fusce facilisis risus sed pellentesque tincidunt.
          p.
            Aenean at rutrum lectus. Suspendisse vitae condimentum mi. Etiam maximus tincidunt vestibulum. Morbi et cursus elit. In hac habitasse platea dictumst. Curabitur maximus erat non odio condimentum imperdiet. Nam sed nisi ac turpis iaculis iaculis a quis eros.
      .wrapper.section-wrapper.bg-purple.clear-fix
        section
          h1 Hello, World
          p.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam et nunc a diam ullamcorper scelerisque.
          p.
            Ut pretium risus ac elit malesuada sollicitudin. Nunc vitae tortor risus. In mollis, eros ut congue cursus, mauris purus lacinia ante, at auctor sapien est et nunc. Nunc lobortis sapien sit amet risus sagittis laoreet. Maecenas accumsan purus sit amet ipsum ultrices, quis finibus lacus mollis.
    .wrapper.footer-wrapper
      footer.clear-fix
        div.logo
          p
            span.fa.fa-university
        div
          ul
            li
              a(href="") What
            li
              a(href="") Why
            li
              a(href="") Who
            li
              a(href="") Try Now
            li
              a(href="") Talk to Us
        div
          ul
            li
              a(href="") Other Link 1
            li
              a(href="") Other Link 2
            li
              a(href="") Other Link 3
    script(src='js/jquery.min.js')
    script(src='js/angular.min.js')
    script(src='js/async.js')
    script(src='js/room.js')
    script(src='js/fyp.js')