doctype html
html
  head
    link(rel='stylesheet', href='css/fyp.scss.css')
    title Final Year Project
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body(ng-app="fypApp")
    header
      h1.
        Final Year Project
    main(ng-controller="mainController")
      p.
        Hello, World.
    footer
      p.
        &copy; James Garner, 2014 &mdash;
    script(src='js/jquery.min.js')
    script(src='js/angular.min.js')
    script(src='js/async.js')
    script(src='js/fyp.js')