.room#room
  .walls
    .wall.left.pieces
      .piece.hang-mid
        img(src="https://pbs.twimg.com/media/BfTmFq2IcAEkcDi.jpg:large")
      .piece.hang-mid
        img(src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10154958_681162888607397_448008437432394940_n.jpg?oh=dd312454bf8051157caf165027e2391b&oe=54E7A3A7")
    .wall.right.pieces
      .piece.hang-mid
        img(src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10441344_10152000292392242_6311213336157621506_n.jpg?oh=1be872e9147eccfe267a33ec7a383893&oe=54ED8D16&__gda__=1423059011_4a72acc0c663da8ab0c7f7aa8c2fca7a")
      .piece.hang-high
        //- img(src="https://pbs.twimg.com/media/BmzbfdFIYAITlr6.jpg:large")
        .text-poster
          p#poster
    .wall.top
    .wall.bottom
    .wall.back.piece
      .piece.hang-high
        img(src="http://fc05.deviantart.net/fs71/i/2011/140/f/4/cosmo_and_wanda_by_wakahama-d3gsefq.png")
  .overlay
    div.bottom
      p
        |&copy; James Garner &nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;
        a(href="http://jada.io") jada.io