.wrapper.footer-wrapper
  footer.clear-fix
    div.logo
      p
        span.fa.fa-university
    div
      ul
        li
          a(href="#demo", data-scroll-to="demo") Try it Now
        li
          a(href="#tech", data-scroll-to="tech") Tech
        li
          a(href="#contact", data-scroll-to="contact") Talk to Us
    //- div
    //-   ul
    //-     li
    //-       a(href="") Our Clients
    //-     li
    //-       a(href="") Press