.wrapper
  .museum-width-outer
    .museum-width
.wrapper.section-wrapper.bg-white.hide#museum-section
  section.clear-fix
    div
      #museum.clear-fix(data-museum-id=museumId)
        .exhibition
          .walls
            .wall.left.exhibits
              .exhibit.hang-high.fill
              .exhibit.hang-high.fill
            .wall.right.exhibits
              .exhibit.hang-high.fill
              .exhibit.hang-high.fill
            .wall.top
            .wall.bottom
            .wall.back.exhibit
              .exhibit.hang-high.fill
          .overlay
        .side
          .side-inner
            p.
              Hello, World.

.wrapper.section-wrapper.feature.bg-light-gray.hide#museum-error
  section.clear-fix
    div
      h1
        span.fa.fa-warning
        span &nbsp;&nbsp;Something ain't Right.
      p.
        This museum couldn't be loaded. Maybe try later?