* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.no-overflow {
  overflow: hidden !important;
}

.no-split {
  white-space: nowrap;
}

.listen-case {
  text-transform: none;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

body {
  background-color: $bg;
  color: $fg;
  font: $font-body-size $font-body;
  margin: $spacing;
}

main {
  display: block;
}

ul {
  margin-left: $spacing * 1.5;
  li {
    margin-bottom: 3px;
  }
}

ul:after {
  @extend .clear-fix;
}

a {
  text-decoration: none;
  color: $fg;
  @extend .no-split;
}