* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.no-overflow {
  overflow: hidden !important;
}

.no-split {
  white-space: nowrap;
}

.listen-case {
  text-transform: none;
}

.wrapper {
  > * {
    width: 100%;
    max-width: $r-width-2;
    margin-left: auto;
    margin-right: auto;
  }
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

body {
  background-color: $bg;
  color: $fg;
  font: $font-body-size $font-body;
}

p {
  text-align: justify;
  margin: ($spacing / 2) 0 ($spacing / 2) 0;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin-left: $spacing * 1.5;
  li {
    margin-bottom: 3px;
  }
}

ul:after {
  @extend .clear-fix;
}

a {
  text-decoration: none;
  color: $fg;
  @extend .no-split;
}