footer {
  padding: $spacing;
  a, span {
    opacity: 0.5;
  }
  a {
    color: white;
  }
  /* span.fa {
    color: $gray;
  } */
  ul {
    list-style-type: none;
    margin: 0;
    font-family: $font-heading;
    text-transform: uppercase;
    li {
      margin-bottom: ($spacing / 4);
    }
  }
  > div {
    margin-bottom: $spacing;
  }
  > div.logo {
    display: none;
  }
}

@media only screen and (min-width: 772px) {
  footer {
    padding-top: $spacing * 2;
    > div {
      float: left;
      width: 250px;
    }
    > div.logo {
      display: block;
      p {
        color: white;
        font-size: 350%;
      }
    }
  }
}