h1, h2, h3 {
  font-family: $font-heading;
  text-transform: uppercase;
}

h1 {
  font-size: 240%;
  margin-bottom: $spacing;
  text-align: center;
  color: white;
  opacity: 0.6;
}

@media only screen and (min-width: $r-width-2) {
  h1 {
    text-align: left;
  }
}