.room {
  display: none;
  position: relative;
  margin: 16px auto 0 auto;
  overflow: hidden;
  background-color: black;

  .overlay, .walls {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .overlay {
      background-image: url("../static/radial.png");
      background-size: 100% 100%;
    > div {
      position: absolute;
      padding: $spacing;
      opacity: 0.5;
      &, a {
        /* color: black; */
      }
      &.top {
        top: 0;
      }
      &.bottom {
        bottom: 0;
      }
    }
  }

  > .walls {
    transform-style: preserve-3d;
    transform-origin: center center;
    .wall {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(195, 195, 195);
      .piece {
        float: left;
        box-sizing: border-box;
        width: 50%;
        margin-top: 15%;
        padding: $spacing;
        img {
          display: block;
          width: 100%;
          box-shadow: 0 5px 5px rgb(48, 48, 48);
          border: 6px solid #5C3317;
          border-radius: 4px;
        }
      }
    }

    .wall.left, .wall.right, .wall.back {
      background-image: url("../static/wall.jpg");
      background-size: 55% (55% * (683 / 512));
    }
    .wall.back {
      .door {
        position: absolute;
        bottom: 0;
        width: 45%;
        height: 100%;
        margin-left: 15%;
        background-image: url("../static/door.jpg");
        background-size: 100% auto;
        background-position: 0 96px;
        background-repeat: no-repeat;
      }
    }
    .wall.top {
      background-image: url("../static/ceiling.jpg");
      background-size: 15% 15%;
    }
    .wall.bottom {
      background-image: url("../static/floor.jpg");
      background-size: 100% 100%;
    }

  }
}