.section-wrapper {
  width: 100%;
  &.tall {
    height: 480px;
  }
}

section {
  display: block;
  padding: ($spacing * 4) $spacing ($spacing * 2) $spacing;
  width: 100%;
  p {
    color: transparentize(white, 0.1);
  }
  > div.icon-left {
  }
  > div.icon-right {
    margin-top: $spacing;
    text-align: center;
    font-size: 200%;
    color: white;
    opacity: 0.6;
  }
}

.section-wrapper.feature {
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  section {
    > div {
      margin-top: $spacing;
      margin-bottom: $spacing * 3;
      > * {
        text-align: center;
      }
      > p {
        margin: 0 auto 0 auto;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      button, .button {
        margin: ($spacing * 2) auto 0 auto;
      }
    }
  } 
}

@media only screen and (min-width: $r-width-1) {
  .section-wrapper.feature section {
    > div {
      p {
        width: 65%;
      }
      button, .button {
        width: 50%;
      }
    }
  }
}

@media only screen and (min-width: $r-width-2) {
  section {
    > div.icon-left {
      float: left;
      width: 80%;
      /* background-color: red; */
    }
    > div.icon-right {
      float: right;
      width: 20%;
      margin-top: 0;
      text-align: right;
      font-size: 800%;
      /* background-color: green; */
    }
  }
  .section-wrapper.feature section {
    > div {
      button, .button {
        width: 30%;
      }
    }
  }
}