//Fonts
$font-heading: "Montserrat", "Arial", "Helvetica", sans-serif;
$font-body: "Source Sans Pro", "Arial", "Helvetica", sans-serif;
$font-body-size: 16px;

//Sizes
$spacing: 16px;
$radius: 3px;

//Responsive Sizes
$r-width-1: 475px;
$r-width-2: 950px;