- var title = "403"
doctype html
html
  head
    include partials/_head-head.jade
  body
    include partials/_head-body.jade
    main
      .wrapper.section-wrapper.feature.bg-blue
        section.clear-fix
          div
            h1 403
            p.
              Well then. This is awkward.
    include partials/_foot-body.jade
    script(src="js/copied/jquery.min.js")
    script(src="js/copied/async.js")