doctype html
html
  head
    include partials/_head-head.jade
  body
    include partials/_head-body.jade
    main
      .wrapper.section-wrapper.feature.bg-blue
        section.clear-fix
          div
            h1 Museum of the Future
            p.
              A museum about everything you care about and love &mdash; a unique insight into your own world, built just for you.
            a.button.bg-blue#make-a-museum(href="twitter")
              span Make my Museum
              span.right.fa.fa-caret-right
      .wrapper.section-wrapper.bg-white
        section.clear-fix
          div
            .museum.clear-fix#demo
              .exhibition-width
              .exhibition#exhibit-1
                .walls
                  .wall.left.exhibits
                    .exhibit.hang-high.fill
                    .exhibit.hang-high.fill
                  .wall.right.exhibits
                    .exhibit.hang-high.fill
                    .exhibit.hang-high.fill
                  .wall.top
                  .wall.bottom
                  .wall.back.exhibit
                    .exhibit.hang-high.fill
                .overlay
              .side
                .side-inner
                  p.
                    Hello, World.
      .wrapper.section-wrapper.bg-green
        section.clear-fix
          div.icon-left
            h1 What is it?
            p.
              We love museums. We think it's really important that the knowledge of humanity is preserved and accessible forever! But museums have to be exciting and interesting as well.
            p.
              Imagine a museum about everything you actually care about and love (and more) &mdash; a unique insight into your own world, built just for you.
            p.
              Welcome to a museum where the exhibits belong to you. Welcome to Museum of the Future.
          div.icon-right
            span.fa.fa-star-o
      .wrapper.section-wrapper.bg-purple
        section.clear-fix
          div.icon-left
            h1 It&rsquo;s all about You
            p.
              Museums are full of fascinating things, but in a world where whatever you want to know is just a click away, something has to change to make the museum relevant and as eye-opening as it used to be.
            p.
              Museum of the Future works out your interests from your Twitter account using NLP (Natural Language Processing) and Topic Modelling. Your interests are brought to life in a vibrant and beautiful 3D experience with exhibits from all over the Web.
          div.icon-right
            span.fa.fa-thumbs-o-up
      .wrapper.section-wrapper.hide.bg-red.tall#tech
        section.clear-fix
          div.icon-left
            h1 The Fizz, Bangs and Whistles
            p.
              Hello, World.
          div.icon-right
            span.fa.fa-terminal
      .wrapper.section-wrapper.hide.bg-yellow.tall#contact
        section.clear-fix
          div.icon-left
            h1 Let's Work Together
            p.
              Hello, World.
          div.icon-right
            span.fa.fa-envelope-o
    include partials/_foot-body.jade
    script(src="js/copied/jquery.min.js")
    script(src="js/copied/async.js")
    script(src="js/museum.js")
    script(src="js/master.js")