doctype html
html(data-twitter=twitter)
  head
    include partials/_head-head.jade
  body
    include partials/_head-body.jade
    main
      .wrapper.section-wrapper.feature.bg-blue
        section.clear-fix
          div
            h1 #{title}
      .wrapper.section-wrapper.feature.bg-white
        section.clear-fix
          div
            - var museumId = id;
            include partials/_museum-embed.jade
    main
      .wrapper.section-wrapper.feature.bg-blue
        section.clear-fix
          div
            h1 Share on Twitter
            form.feature#share-form
              input(type="text")#share-box
              button
                span.left.fa.fa-twitter
                span Share now
    //- img(src="static/wanda.jpg")#test

    include partials/_foot-body.jade
    script(src="js/copied/jquery.min.js")
    script(src="js/copied/async.js")
    script(src="js/copied/underscore-min.js")
    script(src="js/master.js")
    script(src="js/museum.js")
    script(src="js/museum-embed.js")