- var title = "Processing Tweets..."
doctype html
html(data-twitter=twitter)
  head
    include partials/_head-head.jade
  body
    include partials/_head-body.jade
    main
      .wrapper.section-wrapper.feature.bg-black#processing-wrapper
        section.clear-fix
          div
            div#processing
              span.hide
              div
                p
                  span.
                    &gt; Processing...
              canvas(width="640", height="480")

      .wrapper.section-wrapper.feature.bg-gray.hide#processing-data
        section.clear-fix
          div
            h1#data-headline.
            p#data-subtext.

      .wrapper.section-wrapper.feature.bg-green.hide#processing-ok
        section.clear-fix
          div
            h1
              span.fa.fa-thumbs-o-up
              span &nbsp;&nbsp;All Processed!
            p.
              Redirecting. Just a second...

      .wrapper.section-wrapper.feature.bg-red.hide#processing-error
        section.clear-fix
          div
            h1
              span.fa.fa-warning
              span &nbsp;&nbsp;Go on without me!
            p.
              This has taken too long &mdash; sorry. Redirecting...

    include partials/_foot-body.jade
    script(src="js/copied/jquery.min.js")
    script(src="js/copied/async.js")
    script(src="js/copied/underscore-min.js")
    script(src="js/master.js")
    script(src="js/process.js")