- var title = "Twitter"
doctype html
html
  head
    include partials/_head-head.jade
  body
    include partials/_head-body.jade
    main
      .wrapper.section-wrapper.feature.bg-blue
        section.clear-fix
          div
            h1 What's your Twitter?
            form.feature#twitter-form
              input(type="text", value="@jadaradix")#twitter-account
              button
                span Fetch Tweets
                span.right.fa.fa-caret-right
            p.
              Make sure your account is public! We store your 200 most recent tweets and delete them as soon as we're done.
      .wrapper.section-wrapper.feature.bg-gray.hide#fetching
        section.clear-fix
          div
            h1
              span.fa.fa-spin.fa-spinner
              span &nbsp;&nbsp;Fetching...
            p.
              This only takes a second, honest.
      .wrapper.section-wrapper.feature.bg-green.hide#fetching-ok
        section.clear-fix
          div
            h1
              span.fa.fa-thumbs-o-up
              span &nbsp;&nbsp;All Fetched!
            p.
              Redirecting. Just a second...
      .wrapper.section-wrapper.feature.bg-red.hide#fetching-error
        section.clear-fix
          div
            h1
              span.fa.fa-warning
              span &nbsp;&nbsp;Hmm...
            p#twitter-error.
    include partials/_foot-body.jade
    script(src="js/copied/jquery.min.js")
    script(src="js/copied/async.js")
    script(src="js/master.js")
    script(src="js/twitter.js")